#contact .feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}
#contact .bg-featured-blog {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 15rem;
}

#contact * {
    transition: all 0.2s;
}
#contact {
    width: 100%;
    height: 100%;
}
#contact .send-button {
    /*margin-top: 15px;*/
    width: 100%;
    overflow: hidden;
    transition: all .2s ease-in-out;
}
#contact .alt-send-button {
    width: 100%;
    height: 25px;
    transition: all .2s ease-in-out;
}
#contact .send-text {
    display: block;
    margin-top: 10px;
    letter-spacing: 2px;
}
#contact .alt-send-button:hover {
    transform: translate3d(0px, -35px, 0px);
}
#contact .contact-list {
    list-style-type: none;
    margin-left: -30px;
}
#contact .list-item {
    line-height: 4;
    color: #aaa;
}
#contact .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
    margin-left: 15px;
}
#contact .contact-text.place {
    margin-left: 24px;
}
#contact .contact-text.email {
    margin-left: 18px;
}
#contact .contact-text {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}
#contact .list-item:hover .contact-text,
#contact .list-item:hover .fa-phone,
#contact .list-item:hover .fa-envelope,
#contact .list-item:hover .fa-map-marker {
    color: #2e2e2e;
    text-decoration: none;
}
#contact .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
#contact .social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #6b6b6b;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
#contact .social-media-list li a {
    color: #fff;
}
#contact .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #6b6b6b;
    transition: all .2s ease-in-out;
}
#contact .social-media-list li:hover {
    background-color: #fff;
}
#contact .social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}
#contact .social-media-list li:hover a {
    color: #6b6b6b;
}

@media screen and (max-width: 850px) {
    #contact .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
    #contact .direct-contact-container,
    #contact .form-horizontal {
        margin: 0 auto;
    }
    #contact .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }
    #contact .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    #contact .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}
@media screen and (max-width: 569px) {
    #contact .direct-contact-container,
    #contact .form-wrapper {
        float: none;
        margin: 0 auto;
    }
    #contact .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }
    #contact .social-media-list {
        left: 0;
    }
    #contact .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    #contact .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}
