#layoutAdmin * {
    outline: none;
    box-shadow: none;
}
#layoutAdmin a,
#layoutAdmin a:hover,
#layoutAdmin a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#layoutAdmin .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
#layoutAdmin .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
#layoutAdmin .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
/* --------------------------------------------------- CONTENT STYLE ----------------------------------------------------- */
#layoutAdmin #content {
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - 57px);
    transition: all 0.3s;
}
#layoutAdmin #content .navbar {
    margin-bottom: 20px;
}
#layoutAdmin .sidebarCollapseTop {
    display: none;
}
#layoutAdmin .text-sidebar {
    color: #ffffff;
}
/* --------------------------------------------------- SIDEBAR STYLE ----------------------------------------------------- */
#layoutAdmin #sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #6b6b6b;
    transition: all 0.3s;
    z-index: 1;
}
#layoutAdmin #sidebar.active {
    margin-left: -250px;
}
#layoutAdmin #sidebar .sidebar-header {
    text-align: center;
    padding: 15px 0;
}
#layoutAdmin #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #dee2e6;
}
#layoutAdmin #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#layoutAdmin #sidebar ul li a:hover {
    color: #ffffff;
    background: #6b6b6b;
}
#layoutAdmin #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #6b6b6b;
    background: #ffffff;
}
#layoutAdmin a[data-toggle="collapse"] {
    position: relative;
}
#layoutAdmin .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
#layoutAdmin ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6b6b6b;
}
#layoutAdmin ul.ctas {
    padding: 20px;
}
#layoutAdmin ul.ctas a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
#layoutAdmin a.download {
    background: #6b6b6b;
    color: #ffffff;
    border: 1px solid #ffffff;
}
#layoutAdmin a.download:hover {
    background: #ffffff !important;
    color: #6b6b6b !important;
    border: 1px solid #6b6b6b;
}
#layoutAdmin a.article {
    background: #ffffff;
    color: #6b6b6b;
    border: 1px solid #6b6b6b;
}
#layoutAdmin a.article:hover {
    background: #6b6b6b;
    color: #ffffff;
    border: 1px solid #ffffff;
}
/* --------------------------------------------------- MEDIAQUERIES ----------------------------------------------------- */
@media (max-width: 768px) {
    #layoutAdmin .sidebarCollapse {
        display: none;
    }
    #layoutAdmin .sidebarCollapseTop {
        display: block;
    }
    #layoutAdmin #sidebar {
        margin-left: -250px;
    }
    #layoutAdmin #sidebar.active {
        margin-left: 0;
    }
    #layoutAdmin #sidebarCollapse span {
        display: none;
    }
    #layoutAdmin #content {
        padding: 0;
    }
    #layoutAdmin #content .navbar {
        margin-bottom: 10px;
    }
    #layoutAdmin #sidebar {
        position: absolute;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #layoutAdmin .topbar-admin-menu {
        border-bottom: 1px solid #dee2e6;
    }
}


.dropdownSidebar .accordion__section {
    display: flex;
    flex-direction: column;
}
.dropdownSidebar .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    /*padding: 18px;*/
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}
.dropdownSidebar .accordion:hover,
.dropdownSidebar .active {
    background-color: #ccc;
}
.dropdownSidebar .accordion__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}
.dropdownSidebar .accordion__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
}
.dropdownSidebar .rotate {
    transform: rotate(90deg);
}
.dropdownSidebar .accordion__section:hover .chevron-dropdown {
    color: #ffffff !important;
}
.dropdownSidebar .accordion__content {
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
}
.dropdownSidebar .accordion__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
}
.dropdownSidebar .accordion__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
}
