#modalDefault .modal {
    background: rgba(0, 0, 0, 0.6);
}
#modalDefault .modal-container {
    position: absolute;
    width: 90%;
    background: transparent;
    left: 5%;
    top: 10%;
}
#signinForm .modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    padding: 0;
}
#modalDefault .modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    padding: 0;
}
